<li class="nav-item train-part" style="background-image: url('{% static 'images/topics_notr.svg' %}');"><a class="nav-link" href="{% url 'home' %}">Topics</a></li>
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/topics_notr.svg' %}');"><a class="nav-link" href="{% url 'book-list' %}">Books</a></li>
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/topics_notr.svg' %}');"><a class="nav-link" href="">Tutorials</a></li><li class="nav-item train-part" style="background-image: url('{% static 'images/topics_notr.svg' %}');"><a class="nav-link" href="{% url 'book-list' %}">Books</a></li>
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/train-car.svg' %}');"><a class="nav-link" href="{% url 'podcast-list' %}">Podcasts</a></li>
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/train-car.svg' %}');"><a class="nav-link" href="">Tests</a></li>
                    
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/train-car.svg' %}');"><a class="nav-link" href="">Jobs</a></li>
                    <!-- Continue for each item -->
                    <li class="nav-item train-part" style="background-image: url('{% static 'images/train-caboose.svg' %}');"><a class="nav-link" href="{% url 'profile-list' %}">Passengers</a></li>
              